{% extends 'layout.html' %}

{% block content %}
		<li><a href="/list/question">Liste des questions</a></li>
        <li><a href="/list/session">Liste des sessions</a></li>
        <li><a href="/disconnect">Se déconnecter</a></li>
  	</ul>
</aside>
<div class="text-center row">
	<p>
		<h1>{{ pageTitle }}</h1>
	</p>
	
	<div class="large-4 columns">
		<h2>
			<a href="/list/session" class="button expand">Liste des sessions</a>
		</h2>
	</div>
	<div class="large-4 columns">
		<h2>
			<a href="/list/question" class="button expand">Liste des questions</a>
		</h2>
	</div>
	<div class="large-4 columns">
		<h2>
			<a href="/list/categorie" class="button expand">Liste des catégories</a>
		</h2>
	</div>
</div>
{% endblock %}