{% extends 'layout.html' %}

{% block content %}
<div class="text-center row">
	<p>
		<h1>Accueil</h1>
	</p>
	
	<div class="large-4 columns">
		<h2>
			<a href="/list/session" class="button expand">Liste des sessions</a>
		</h2>
	</div>
	<div class="large-4 columns">
		<h2>
			<a href="/list/question" class="button expand">Liste des questions</a>
		</h2>
	</div>
	<div class="large-4 columns">
		<h2>
			<a href="/list/categorie" class="button expand">Liste des catégories</a>
		</h2>
	</div>
</div>
{% endblock %}