<!doctype html>
<html>
<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/css/foundation.css">
		<link rel="stylesheet" type="text/css" href="/css/general_enclosed_foundicons.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

	<div class="off-canvas-wrap" style="height: 100%;">
		<div class="inner-wrap">

			<nav class="tab-bar">
			  <section class="left-small">
			    <!-- <a class="left-off-canvas-toggle menu-icon"><span></span></a> -->
			    <a class="left-off-canvas-toggle menu-icon" href="#" ><span></span></a>
			  </section>

			  <section class="right tab-bar-section">
			    <h1 class="title">ATPA</h1>
			  </section>

			</nav>

			<!-- Off Canvas Menu -->
			<aside class="left-off-canvas-menu">
			    <!-- whatever you want goes here -->
			   	<ul class="off-canvas-list">
			        <li><label class="label-small">Nom Prénom<br/>(type personne)</label></li>
			        <li class="active"><a href="#">Accueil</a></li>
			        <li><a href="#">Liste questions</a></li>
			        <li><a href="#">Liste questionnaire</a></li>
			        <li><a href="#">Se déconnecter</a></li>
		      	</ul>
			</aside>

			{% block content %}

			{% endblock %}
			
			<!-- close the off-canvas menu -->
			<a class="exit-off-canvas"></a>
	   </div>
	</div>

	<script src="/js/vendor/jquery.js"></script>
	<script src="/js/foundation.min.js"></script>
	<script src="/js/vendor/modernizr.js"></script>
	<script>
		$(document).foundation();
	</script>
	{% block script %}
	{% endblock %}
	<script src="/js/script.js"></script>
</body> 
</html>