<!doctype html>
<html>
<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/css/foundation.css">
		<link rel="stylesheet" type="text/css" href="/css/general_enclosed_foundicons.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<link rel="shortcut icon" type="image/png" href="/img/ATPA.png" />
</head>
<body>
	<section id="section-main" class="">
			<div class="row">
				<div class="logo-atpa"><img src="/img/ATPA.png"></div>
				<h1 class="text-center title">Connexion</h1>

				{% if error %}
				<div data-alert class="small-12 columns">
					<div class="alert-box alert radius">
						{{ error }}
						<a href="#" class="close">&times;</a>
					</div>
				</div>
				{% endif %}
				{% if disconnect %}
				<div class="row">
					<div data-alert class="small-12 columns">
						<div class="alert-box success radius">
							Vous êtes déconnecté
							<a href="#" class="close">&times;</a>
						</div>
					</div>
				</div>
				{% endif %}
				<div class="small-12">
					<div class="small-6 columns">
						<a id="btn-login-etudiant" href="#" class="button expand">Étudiant</a>
					</div>
					<div class="small-6 columns">
						<a id="btn-login-enseignant" href="#" class="button expand">Enseignant</a>
					</div>
				</div>
			</div>

			<section id="form-enseignant" class="row">
				<div class="small-12 small-centered columns"> 
					<h2 class="text-center">Enseignant</h2>
					<form method="post" action="#">	
						<div class="small-8 small-centered columns">	
							<label class="hide">Identifiant</label>
							<input type="text" placeholder="Identifiant" name="teacher[id]">
							<label class="hide">Mot de passe</label>
							<input id="password" type="password" placeholder="Mot de passe" name="teacher[passwd]"></input>
							
							<input id="subm-enseignant" type="submit" class="button small" value="Se connecter">
						
						</div>
					</form>
				</div>	
			</section>

			<section id="form-etudiant" class="row">

				<div class="small-12 small-centered columns"> 
					<h2 class="text-center">Étudiant</h2>
					<form method="post" action="#">	
						<div class="small-8 small-centered columns">	
							<label class="hide">Identifiant</label>
							<input type="text" placeholder="Identifiant" name="student[id]">
							<label class="hide">Mot de passe</label>
							<input type="text" placeholder="Clé de la session" class="form-control" name="student[key]">
							
							<input id="subm-etudiant" type="submit" class="button small" value="Se connecter">
							
						</div>
					</form>
				</div>	

			</section>
		</section>
		<script src="/js/vendor/jquery.js"></script>
		<script src="/js/foundation.min.js"></script>
		<script src="/js/vendor/modernizr.js"></script>
		<script>
			$(document).ready(function(){
				$(document).foundation();

				$("#form-enseignant").hide();
				$("#form-etudiant").hide();

				$("#btn-login-etudiant").click(function(){
					$("#form-enseignant").hide();
					$("#form-etudiant").show("fast");
				});

				$("#btn-login-enseignant").click(function(){
					$("#form-etudiant").hide();
					$("#form-enseignant").show("fast");
				});

			});
		</script>
	</body>
</html>