/* =========================
	GENERAL 
========================== */
body{
	background-color: #E9E8EF !important;
	width: 100%;
}

h2{

}

.hide{
	display: none;
}

.label-small{
	font-size: 10px;
}

.container-marge{
	margin: 5% auto;
}

.no-padding{
	padding: 0;
}

.no-margin{
	margin: auto 0;
}

.vert{
	background: rgb(141,175,49) !important;
}

.orange{
	background: #fc6305 !important;
}

.color-orange{
	color: #fc6305;
}

.gris-clair{
	background: rgb(209,211,207) !important;
}

.gris-fonce{
	background: rgb(96,96,96) !important;
}

.red{
	color: #CC0606;
}

.green {
	color : #00c305;
}

.bleu{
	color: #008CBA;
}

.btn-right{
	float: right;
}

.right{
	float: right;
}

.bold{
	font-weight: bold;
}
/* =============================
	WRAP
================================ */
.docs-wrap{
	height: 100%;
}

.inner-wrap{
	height: 100%;
}

/* =============================
	MAIN
============================== */
#section-main{

}

#section-main h1{
	color: rgb(96,96,96);
}


/* =============================
	Ajout question
============================== */
.btn-add{
	font-size: 20px;
}

.panel-form{
	margin-bottom: 15px !important;
	padding: 10px 5px;
}

.btn-envoi{
	float: right;
    margin-top: 15px;
}

/* ===========================
	Questionnaire
=========================== */
#timer {
    
}

.timer-large{
	border: 15px solid #008CBA;
    border-radius: 50%;
    height: 170px;
    margin: 30px auto;
    width: 170px;
}

.timer-large span{
	color: #008CBA;
    display: block;
    font-size: 45px;
    font-weight: bold;
    margin: 50px 0;
}

.timer-small{
	background: none repeat scroll 0 0 #E5E5E5;
    color: #FF0000;
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
    padding: 10px;
}

#timer-msg{
 	color: #008CBA;
    font-size: 40px;
    font-weight: bold;
    margin: 15px auto;
    padding: 10px 0;
    text-align: center;
}



.check-reponse{
	float: right;
}

.panel-list{
	/* background: #fc6305; */
	margin-bottom: 5px !important;
	padding: 10px;

}

/* ========================
	Question
========================== */
.btn-remove-question{
	font-size: 20px;
	margin: 8px 0 0 0;
}



/* ======================
	POPUP
======================= */

#pop-remove-confirm div{
	background: none repeat scroll 0 0 #222222;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 10px 5px;
    text-align: center;
    width: 215px;
}

#pop-addCategorie .pop-bodyCategorie{
	background: none repeat scroll 0 0 #222222;
    color: #FFFFFF;
    margin: 0 auto;
    min-width: 215px;
    padding: 1%;
    text-align: center;
    width: 35%;
}

.popup-center{
 	display: block;
    opacity: 0.9;
    position: absolute;
    text-align: center;
    top: 35%;
    width: 100%;
    z-index: 2;
}

#pop-remove-confirm{
	background: none repeat scroll 0 0 #222222;
    color: #FFFFFF;
    margin: 0 auto;
    min-width: 215px;
    padding: 1%;
    text-align: center;
    width: 25%;
}

#pop-remove-confirm div .popup-titre{
	margin: 5px 0 10px 0;
}

#pop-addCategorie div .popup-titre{
	font-size: 21px;
    margin: 10px 0;
}

.popup-close{
	color: #ffffff;
	float: right;
	margin-right: 5px; 
}

.btn-annule{
	margin-right: 5px; 
}

.btn-confirm{
	margin-left: 5px; 
}



#msgaddConfirm{
	color: #FC6305;
    font-size: 15px;
    text-align: left;
}


/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 321px) {

    #pop-remove-confirm div{
		background: none repeat scroll 0 0 #222222;
        color: #FFFFFF;
        margin: 0 auto;
        padding: 35px 5px;
        text-align: center;
  		width: 80%;
	}

	#pop-remove-confirm{
	    display: block;
	    opacity: 0.9;
	    position: absolute;
	    text-align: center;
	    top: 35%;
	    width: 100%;
	    z-index: 2;
	    bottom: 0;
	    opacity: 0.9;
	    position: fixed;
	    text-align: center;
	    width: 100%;
	    z-index: 2;
	}

	.popup-titre{
	   margin: 10px 0 35px 0 !important;
	   font-size: 40px !important;

	}

	.popup-close{
		color: #ffffff;
		float: right;
		margin-right: 20px; 
	}

	.btn-annule{
		margin-right: 15px !important; 
		font-size: 45px !important;
	    font-weight: bold !important;


	}

	.btn-confirm{
		margin-left: 15px !important; 
		font-size: 45px !important;
	    font-weight: bold !important;
	}
}

#img-loading{
	margin: 25px 0;
}


.logo-atpa img{
	 min-width: 70px;
    width: 15%;
    margin: 15px 0 30px;
}

.logo-login-atpa{
	text-align: center;
	margin: 0 auto;
}

.logo-login-atpa img{
	margin: 15px 0 30px;
    min-width: 70px;
    width: 7%
}



/* ======================
	Element Foundation
========================= */
button{
	background: #008cba;
}


/* =======================
	Creer une session
========================== */

.table-liste{
	background: #e5e5e5;
}

.liste-question{
	list-style-type: none;
	padding: 0;
}


.item-session{
	background: #e5e5e5 !important;
	border: 1px solid #000;
}

.item-session td{
	/* background: #e5e5e5; */
}