/* =========================
	GENERAL 
========================== */
body{
	background-color: #ffffff;
	width: 100%;
}

h2{

}

.hide{
	display: none;
}

.label-small{
	font-size: 10px;
}

.container-marge{
	margin: 5% auto;
}

.no-padding{
	padding: 0;
}

.no-margin{
	margin: auto 0;
}

.vert{
	background: rgb(141,175,49) !important;
}

.orange{
	background: #fc6305 !important;
}

.gris-clair{
	background: rgb(209,211,207) !important;
}

.gris-fonce{
	background: rgb(96,96,96) !important;
}

.red{
	color: #CC0606;
}

.bleu{
	color: #4372E0;
}

.btn-right{
	float: right;
}

.right{
	float: right;
}

.bold{
	font-weight: bold;
}
/* =============================
	WRAP
================================ */
.docs-wrap{
	height: 100%;
}

.inner-wrap{
	height: 100%;
}

/* =============================
	MAIN
============================== */
#section-main{

}

#section-main h1{
	color: rgb(96,96,96);
}


/* =============================
	Ajout question
============================== */
.btn-add{
	font-size: 20px;
}

.panel-form{
	margin-bottom: 15px !important;
	padding: 10px 5px;
}

.btn-envoi{
	float: right;
    margin-top: 15px;
}

/* ===========================
	Questionnaire
=========================== */
#timer {
    background: none repeat scroll 0 0 #E5E5E5;
    color: #FF0000;
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin: 5px 0;
    padding: 10px;
}

.check-reponse{
	float: right;
}

.panel-list{
	/* background: #fc6305; */
	margin-bottom: 5px !important;
	padding: 10px;

}

/* ========================
	Question
========================== */
.btn-remove-question{
	font-size: 20px;
	margin: 8px 0 0 0;
}