/* =========================
	GENERAL 
========================== */
body{
	background-color: #ffffff;
	width: 100%;
}

h2{

}

.hide{
	display: none;
}

.label-small{
	font-size: 10px;
}

.container-marge{
	margin: 5% auto;
}

.no-padding{
	padding: 0;
}

.no-margin{
	margin: auto 0;
}

.vert{
	background: rgb(141,175,49) !important;
}

.orange{
	background: #fc6305 !important;
}

.gris-clair{
	background: rgb(209,211,207) !important;
}

.gris-fonce{
	background: rgb(96,96,96) !important;
}

/* =============================
	WRAP
================================ */
.docs-wrap{
	height: 100%;
}

.inner-wrap{
	height: 100%;
}

/* =============================
	MAIN
============================== */
#section-main{

}

#section-main h1{
	color: rgb(96,96,96);
}


/* =============================
	Ajout question
============================== */
.btn-add{
	font-size: 20px;
}

.panel-form{
	margin-bottom: 15px !important;
	padding: 10px 5px;
}

.btn-envoi{
	float: right;
    margin-top: 15px;
}

/*