{% extends '../layout.html' %}
{% block content %}
    <section class="main-section">
      <div class="row">
        <div class="small-12 columns">	<!-- body -->
        	<section id="section-main" class="container container-marge">
				
        		<div class="small-10 small-centered columns"> 
					<h1 class="text-center ">Création d'un questionnaire</h1>
						<form role="form">
							<div class="row">
								
							    <div class="small-12  columns no-padding panel panel-form">
						      		<div class="small-6  columns">
							        	<input type="text" placeholder="Label du questionaire">
							    	</div>
							    </div>
							   
							   	<div class="small-12  columns no-padding panel panel-form">

						      		<table>
									  <thead>
									    <tr>
									      <th width="700">Question</th>
									      <th width="50">Ajout</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <td>Question hkiufghkisjf ?</td>
									      <td class="text-center"><input type="checkbox" name="addQuestion" value="question1"</td>
									    </tr>
									    <tr>
									      <td>Question hkiufghkisjf ?</td>
									      <td class="text-center"><input type="checkbox" name="addQuestion" value="question2"</td>
									    </tr>
									    <tr>
									      <td>Question hkiufghkisjf ?</td>
									      <td class="text-center"><input type="checkbox" name="addQuestion" value="question3"</td>
									    </tr>
									  </tbody>
									</table>
						    	</div>
						    	<a href="#" class="btn-right button small">Ajouter</a>
						  	</div>
						</form>
					</section>
				</div>
			</section>
        </div>
      </div>
    </section>
{% endblock %}