{% extends '../layout.html' %}

{% block content %}
    <section class="main-section">
      <div class="row">
        <div class="small-12 columns">	<!-- body -->
        	<section id="section-main" class="container container-marge">
				
        		<div class="small-10 small-centered columns"> 
					<h1 class="text-center ">Liste des questionnaires</h1>
						<form role="form">
							<div class="row">
								<!--
							    <div class="small-12  columns no-padding panel panel-form">
						      		<div class="small-6  columns">
							      <label>Catégorie
							        <select>
							          <option value=""></option>
							          <option value=""></option>
							          <option value=""></option>
							          <option value=""></option>
							        </select>
							      </label>
							    </div>
							    </div>
							   -->
							   	<div class="small-12  columns no-padding panel panel-form">

						      		<table>
									  <thead>
									    <tr>
									      <th width="700">Questionnaire</th>
									      <th width="50">Supprimer</th>
									      <th width="50">Modifier</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <td>Question hkiufghkisjf ?</td>
									      <td class="text-center"><a href=""><i class="foundicon-minus red"></i></a></td>
									      <td class="text-center"><a href=""><i class="foundicon-edit"></i></a></td>
									    </tr>
									    <tr>
									      <td>Question hkiufghkisjf ?</td>
									      <td class="text-center"><a href=""><i class="foundicon-minus red"></i></a></td>
									      <td class="text-center"><a href=""><i class="foundicon-edit"></i></a></td>
									    </tr>
									    <tr>
									      <td>Question hkiufghkisjf ?</td>
									      <td class="text-center"><a href=""><i class="foundicon-minus red"></i></a></td>
									      <td class="text-center"><a href=""><i class="foundicon-edit"></i></a></td>
									    </tr>
									  </tbody>
									</table>
						    	</div>
						    	<a href="#" class="btn-right button small">Ajouter</a>
						  	</div>
						</form>
					</section>
				</div>
			</section>
        </div>
      </div>
    </section>
{% endblock %}