{% extends '../layout.html' %}
	
{% block content %}
    <section class="main-section">
      <div class="row">
        <div class="small-12 columns">	<!-- body -->
        	<section id="section-main" class="container container-marge">
				
        		<div class="small-10 small-centered columns"> 
					<h1 class="text-center ">Liste des questions</h1>
						<form role="form">
							<div class="row">
							    <div class="small-12  columns no-padding panel panel-form">
						      		<div class="small-6  columns">
									    <label>Catégorie
									        <select>
									        	<option value="-1">Toutes les catégories</option>
									    	    {% for category in categories -%}
												<option value="{{category._id}}">{{ category.label }}</option>
									        	{%- endfor %}
									        </select>
									    </label>
							    	</div>
								    <div class="small-6 columns">
								    	<a href="/add/category" class="button btn-right small">Ajouter une catégorie</a>
								    </div>
							    </div>
							   
							   	<div class="small-12  columns no-padding panel panel-form">

						      		<table>
									  <thead>
									    <tr>
									      <th width="700">Question</th>
									      <th width="50">Supprimer</th>
									      <th width="50">Modifier</th>
									    </tr>
									  </thead>
									  <tbody>
									  {% for question in questions -%}
										<tr id="{{question._id}}">
									      <td value="{{question._id}}">{{ question.text }}</td>
									      <td class="text-center"><a href="#"><i class="foundicon-minus red"></i></a></td>
									      <td class="text-center"><a href="/edit/question/{{question._id}}"><i class="foundicon-edit"></i></a></td>
									    </tr>
							          {%- endfor %}
									  </tbody>
									</table>
						    	</div>
						    	<a href="#" class="btn-right button small">Ajouter</a>
						  	</div>
						</form>
					</section>
				</div>
			</section>
        </div>
      </div>
    </section>

{% endblock %}