<!DOCTYPE html>
<html>
<head>
	<title>Ajout question</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/foundation.css">
	<link rel="stylesheet" href="css/general_enclosed_foundicons.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="js/vendor/modernizr.js"></script>	
</head>
<body>
	

	
<div class="off-canvas-wrap docs-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon"><span></span></a>
      </section>

      <section class="right tab-bar-section">
        <h1 class="title">ATPA</h1>
      </section>

    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label class="label-small">Nom Prénom<br/>(type personne)</label></li>
        <li class="active"><a href="#">Accueil</a></li>
        <li><a href="#">Liste questions</a></li>
        <li><a href="#">Liste questionnaire</a></li>
        <li><a href="#">Se déconnecter</a></li>
      </ul>
    </aside>

    <section class="main-section">
      <div class="row">
        <div class="small-12 columns">	<!-- body -->
        	<section id="section-main" class="container container-marge">
				
        		<div class="small-10 small-centered columns"> 
					<h1 class="text-center ">Création du questionaire</h1>
						<form role="form">
							<div class="row">
								<!--
							    <div class="small-12  columns no-padding panel panel-form">
						      		<div class="small-6  columns">
							      <label>Catégorie
							        <select>
							          <option value=""></option>
							          <option value=""></option>
							          <option value=""></option>
							          <option value=""></option>
							        </select>
							      </label>
							    </div>
							    </div>
							   -->
							   	<div class="small-12  columns no-padding panel panel-form">

						      		<table>
									  <thead>
									    <tr>
									      <th width="700">Questionaire</th>
									      <th width="50">Supprimer</th>
									      <th width="50">Modifier</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <td>Question hkiufghkisjf ?</td>
									      <td class="text-center"><a href=""><i class="foundicon-minus red"></i></a></td>
									      <td class="text-center"><a href=""><i class="foundicon-edit"></i></a></td>
									    </tr>
									    <tr>
									      <td>Question hkiufghkisjf ?</td>
									      <td class="text-center"><a href=""><i class="foundicon-minus red"></i></a></td>
									      <td class="text-center"><a href=""><i class="foundicon-edit"></i></a></td>
									    </tr>
									    <tr>
									      <td>Question hkiufghkisjf ?</td>
									      <td class="text-center"><a href=""><i class="foundicon-minus red"></i></a></td>
									      <td class="text-center"><a href=""><i class="foundicon-edit"></i></a></td>
									    </tr>
									  </tbody>
									</table>
						    	</div>
						    	<a href="#" class="btn-right button small">Ajouter</a>
						  	</div>
						</form>
					</section>
				</div>
			</section>
        </div>
      </div>
    </section>

<a class="exit-off-canvas"></a>

  </div>
</div>
</body>

<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script src="js/foundation/foundation.topbar.js"></script>
<script src="js/script.js"></script>
<script>
	$(document).foundation();
</script>
</html>