{% extends '../layout.html' %}

{% block content %}
    <section class="main-section">
      <div class="row">
        <div class="small-12 columns">	<!-- body -->
        	<section id="section-main" class="container container-marge">
        		<div class="small-10 small-centered columns"> 
					<h1 class="text-center ">Liste des sessions</h1>
						<form role="form">
							<div class="row">
								<!--
							    <div class="small-12  columns no-padding panel panel-form">
						      		<div class="small-6  columns">
								      <label>Catégorie
								        <select>
								          <option value=""></option>
								          <option value=""></option>
								          <option value=""></option>
								          <option value=""></option>
								        </select>
								      </label>
							    	</div>
							    </div>
							   -->
							   	<div class="small-12  columns no-padding panel panel-form">
						      		<table>
									  <thead>
									    <tr>
									      <th width="650">Session</th>
									      <th width="50">Supprimer</th>
									      <th width="50">Modifier</th>
									      <th width="50">Lancer</th>
									    </tr>
									  </thead>
									  <tbody>
									  {% for session in sessions -%}
										  <tr>
										    <td>{{ session.name }}</td>
										    <td class="text-center"><a class="remove-questionnaire" ><i class="foundicon-minus red"></i></a></td>
										    <td class="text-center"><a href="/edit/session/{{session._id}}"><i class="foundicon-edit"></i></a></td>
										    <td class="text-center"><a href=""><i class="foundicon-clock green"></i></a></td>
										  </tr>
									  {%- endfor %}
									  </tbody>
									</table>
						    	</div>
						    	<a href="/add/session" class="btn-right button small">Ajouter</a>
						  	</div>
						</form>
					</section>
				</div>		
			</section>

			<!-- POPUP -->
			<div class="popup-center">
				<div id="pop-remove-confirm">	
					<a class="popup-close" href="#close">×</a>
					<p class="popup-titre">Voulez vous supprimer ?</p>
			  		<a class="tiny button btn-annule" href="#">Non</a>
			  		<a class="tiny button btn-confirm" href="/suppr/">Oui</a>
				</div>
			</div>


        </div>
        
  	</div>

	
    </section>
{% endblock %}

{% block script %}
	<script type="text/javascript" src="/js/DeleteQuestion.js"></script>
{% endblock %}