{% extends '../layout.html' %}
	
{% block content %}
			<li><a href="/list/question">Liste des questions</a></li>
	        <li><a href="/list/session">Liste des sessions</a></li>
	        <li><a href="/disconnect">Se déconnecter</a></li>
	  	</ul>
	</aside>
    <section class="main-section">
      <div class="row">

        <div class="small-12 columns">	<!-- body -->
        	<section id="section-main" class="container container-marge">
				
        		<div class="small-10 small-centered columns"> 
					<h1 class="text-center ">{{ pageTitle }}</h1>
						<form role="form">
							<div class="row">
								<a class="button tiny" href="/welcome">retour</a>
   
							   	<div class="small-12  columns no-padding panel panel-form">

						      		<table id="question-table">
									  <thead>
									    <tr>
									      <th width="750">Categorie</th>
									      <th width="50">Supprimer</th>
									    </tr>
									  </thead>
									  <tbody>

									  {% for category in categories -%}
										<tr id="{{category._id}}" data-category="{{categoriy._id_cat}}" >
									      <td>{{ category.label }}</td>
									      <td class="text-center"><a class="remove-categorie" href="#"><i class="foundicon-minus red"></i></a></td>
									    </tr>
							          {%- endfor %}
									  </tbody>
									</table>
						    	</div>
						    	<a href="#" id="addCategorie" class="btn-right button small">Ajouter</a>
						  	</div>
						</form>
					</section>
				</div>
			</section>
        </div>
      </div>
    </section>
    

  	<div id="pop-remove-confirm" class="popup-center hide">
		<div class="pop-bodyCategorie">
			<a class="popup-close" href="#close">×</a>
          	<p class="popup-titre">Voulez vous supprimer ?</p>
          	<a class="tiny button btn-confirm" href="/suppr/">Oui</a>
          	<a class="tiny button btn-annule" href="#">Non</a>
      	</div>
  	</div>

	<div id="pop-addCategorie" class="popup-center hide">
		<div class="pop-bodyCategorie">
			<a class="popup-close" href="#close">×</a>
	      	<p class="popup-titre">Ajout d'une catégorie</p>
	      	<form action="/add/categorie/" method="POST">
		      	<div class="row">
		      		<div class="small-10 small-offset-1 columns">
				      <div class="row collapse">
				        <div class="small-8 columns">
				          <input id="lblcategorie" type="text" placeholder="Label de la categorie" name="lblcategorie">
				        </div>
				        <div class="small-4 columns">
				          <input type="submit" id="btn-addCategorie" class="button postfix" href="#" value="Ajouter">
				        </div>
				      </div>
				    </div>
	          	</div>
          	</form>
          	<p id="msgaddConfirm"></p>
  		</div>
	</div>




{% endblock %}

{% block script %}
	<script type="text/javascript" src="/js/listCategorie.js"></script>
	<script type="text/javascript">
		
		$('#selectCat').change(function(){
			var categorie= $(this).val();
			var questions = $("#question-table tbody tr");
			questions.each(function(index, elem) {
				var elemCategory = $(elem).data("category");
				if(elemCategory == categorie) {
					$(elem).show();
				}
				else {
					$(elem).hide();	
				}
			});			
		});
		
    </script>
{% endblock %} 
