{% extends '../layout.html' %}

{% block content %}
			<li><a href="/list/question">Liste des questions</a></li>
	        <li><a href="/list/session">Liste des sessions</a></li>
	        <li><a href="/disconnect">Se déconnecter</a></li>
	  	</ul>
	</aside>
    <section class="main-section">
      <div class="row">
     
        <div class="small-12 columns">	<!-- body -->
        	<section id="section-main" class="container container-marge">
				
        		<div class="small-10 small-centered columns"> 
					<h1 class="text-center ">{{ pageTitle }}</h1>
					<div class="row">
						{% if errors %}
						<div class="small-12 columns">
							<div data-alert class="alert-box alert radius">
							<ul>
								{% for error in errors -%}
								<li>{{ error }}</li>
								{%- endfor %}
							</ul>
							<a href="#" class="close">&times;</a>
							</div>
						</div>
					</div>
					{% endif %}
					<div class="row">
					<a class="button tiny" href="/list/question">retour</a>
						{% if status %}
						<div class="small-12 columns">
							<div data-alert class="alert-box success radius">
								{{ status }}
								<a href="#" class="close">&times;</a>
							</div>
						</div>
						{% endif %}
					</div>
						<form action="" method="post" name="addQuestion" role="form" enctype="multipart/form-data">
							<div class="row panel panel-form">
							    <div class="small-6  columns">
							      <label>Catégorie
							        <select name="category">
							          {% for category in categories -%}
										<option value="{{category._id}}" 
										{% if form && form.category == category._id %} selected="selected" {% endif %}>
											{{ category.label }}
										</option>
							          {%- endfor %}
							        </select>
							      </label>
							    </div>
							    <div class="small-6  columns">
							      <label>Type question
							        <select name="type" id="sort-type" >
							          <option value="radio" {% if form && form.type == 'radio' %} selected="selected"{% endif %}>choix unique</option>
							          <option value="checkbox" {% if form && form.type == 'checkbox' %} selected="selected"{% endif %}>choix multiple</option>
							          <option value="text" {% if form && form.type == 'text' %} selected="selected"{% endif %}>réponse libre</option>
							        </select>
							      </label>
							    </div>
						  	</div>
					      	<div class="row panel panel-form">
					      		<div class="small-12 columns">
						      		<label class="hide">Question</label>
							    	<textarea placeholder="Question" name="question">{% if form %}{{ form.question }}{% endif %}</textarea>
						    	</div>
						    	<div class="small-12 columns text-center">
					    	        <label for="image" class="text-left">Associer une image (optionnel)</label>
					    	        <input type="file" name="image" id="image" />
					    	        {% if form && form.imgURL != "" %}
					    	        <img src="/img/userfile/{{ form.imgURL }}" width="150" alt="">
					    	        <input type="hidden" name="oldImage" value="{{ form.imgURL }}" />
					    	        {% endif %}
					    	    </div>
					      	</div>

					      	<div class="row">
					      		<div class="small-12 panel">
					      			<!--******************************-->
									<!-- DIV D'AFFICHAGE DES CHECKBOX -->
									<!--******************************-->
					      				{% if form && form.type == 'checkbox' %}
					      				<div id="input-check">
										<p>aaa</p>
					      					{% for checkbox in form.answers -%}
		      							      	<div class="row collapse input-multi">
		      										<div class="small-1 columns">
		      								          	<span class="prefix radius">
		      								          		<a class="remove-input" href="#"><i class="foundicon-remove red"></i></a>
		      								          	</span>
		      								        </div>
		      								        <div class="small-9 columns">
		      								          <input type="text" placeholder="Réponse possible" name="reponse[checkbox]" value="{{ checkbox.name }}">
		      								        </div>
		      								        <div class="small-2 columns">
		      								          	<span class="postfix radius gris-clair">
		      								          		<input value="{{ loop.index0 }}" name="checkbox[rep]" type="checkbox" {% if checkbox.correct %}checked="checked"{% endif %}>
		      								          	</span>
		      								        </div>
		      					      			</div>
					      					{%- endfor %}
					      				{% else %}
					      				<div id="input-check"  class="hide">
								      	<div class="row collapse input-multi">
											<div class="small-1 columns">
									          	<span class="prefix radius">
									          		<a class="remove-input" href="#"><i class="foundicon-remove red"></i></a>
									          	</span>
									        </div>
									        <div class="small-9 columns">
									          <input type="text" placeholder="Réponse possible" name="reponse[checkbox]">
									        </div>
									        <div class="small-2 columns">
									          	<span class="postfix radius gris-clair">
									          		<input value="0" name="checkbox[rep]" type="checkbox">
									          	</span>
									        </div>
						      			</div>
						      			<div class="row collapse input-multi">
											<div class="small-1 columns">
									          	<span class="prefix radius">
									          		<a class="remove-input" href="#"><i class="foundicon-remove red"></i></a>
									          	</span>
									        </div>
									        <div class="small-9 columns">
									          <input type="text" placeholder="Réponse possible" name="reponseLibre">
									        </div>
									        <div class="small-2 columns">
									          	<span class="postfix radius gris-clair">
									          		<input value="1" name="checkbox[rep]" type="checkbox">
									          	</span>
									        </div>
						      			</div>
						      			{% endif %}
						      			<a id="add-multi-rep" class="btn-add small-1 small-offset-11"><i class="foundicon-plus"></i></a>
					      			</div>

					      			<!--******************************-->
									<!-- FIN D'AFFICHAGE DES CHECKBOX -->
									<!--******************************-->




									<!--*******************************-->
									<!-- DIV D'AFFICHAGE DES REP LIBRE -->
									<!--*******************************-->

									{% if form && form.type == 'text' %}
					      				<div id="input-libre">
		      							      	<div class="row collapse input-multi">
		      								        <div class="small-12 columns">
		      								         <input type="text" id="repLibre" name="libre" placeholder="Réponse à la question" value="{{form.answers[0].name}}" />
		      								        </div>
		      					      			</div>
					      				{% else %}
					      				<div id="input-libre"  class="hide">
						      			<div class="row collapse input-multi">	
									        <div class="small-12 columns">
									          <input type="text" id="repLibre" name="libre" placeholder="Réponse à la question"/>
									        </div>
						      			</div>
						      			{% endif %}
										
					      			</div>




									<!--****************************-->
									<!-- FIN D'AFFICHAGE DES REP LIBRE -->
									<!--****************************-->


									<!--****************************-->
									<!-- DIV D'AFFICHAGE DES RADIOS -->
									<!--****************************-->
					      				{% if form && form.type == 'radio' %}
					      				<div id="input-radio">
					      					{% for radio in form.answers -%}
	      										<div class="row collapse input-single">
	      											<div class="small-1 columns">
	      									          	<span class="prefix radius">
	      									          		<a class="remove-input" href="#"><i class="foundicon-remove red"></i></a>
	      									          	</span>
	      									        </div>
	      									        <div class="small-9 columns">
	      									          <input type="text" placeholder="Réponse possible" name="reponse[radio]" value="{{ radio.name }}">
	      									        </div>
	      									        <div class="small-2 columns">
	      									          	<span class="postfix radius gris-clair">
	      									          		<input name="radio[rep]" type="radio" value="{{ loop.index0 }}" {% if radio.correct == true %} checked="checked" {% endif %}>
	      									          	</span>
	      									        </div>
	      						      			</div>
					      					{%- endfor %}
					      				{% else %}
					      					{% if !form %}
					      						<div id="input-radio">
			      							{% else %}
			      								<div id="input-radio" class="hide">
					      					{% endif%}
										<div class="row collapse input-single">
											<div class="small-1 columns">
									          	<span class="prefix radius">
									          		<a class="remove-input" href="#"><i class="foundicon-remove red"></i></a>
									          	</span>
									        </div>
									        <div class="small-9 columns">
									          <input type="text" placeholder="Réponse possible" name="reponse[radio]">
									        </div>
									        <div class="small-2 columns">
									          	<span class="postfix radius gris-clair">
									          		<input name="radio[rep]" type="radio" value="0">
									          	</span>
									        </div>
						      			</div>
						      			<div class="row collapse input-single">
											<div class="small-1 columns">
									          	<span class="prefix radius">
									          		<a class="remove-input" href="#"><i class="foundicon-remove red"></i></a>
									          	</span>
									        </div>
									        <div class="small-9 columns">
									          <input type="text" placeholder="Réponse possible" name="reponse[radio]">
									        </div>
									        <div class="small-2 columns">
									          	<span class="postfix radius gris-clair">
									          		<input name="radio[rep]" type="radio" value="1">
									          	</span>
									        </div>
						      			</div>
						      			{% endif %}
						      			<a id="add-single-rep" class="btn-add small-1 small-offset-11"><i class="foundicon-plus"></i></a>
								    </div>


								    <!--********************************-->
									<!-- FIN D'AFFICHAGE REPONSE RADIO -->
									<!--********************************-->




					   			</div>
						  	</div>

						  	<div class="row panel panel-form">
							    <div class="small-6  columns">
							      <label>Temps imparti
							        <input type="number" name="timer" placeholder="en secondes" value="{% if form %}{{ form.timer }}{% endif %}">
							      </label>
							    </div>
							    <div class="small-6  columns">
							    	<input type="submit" class="button small btn-envoi" value="{{ valid }}">
						    	</div>
						  	</div>
						  	{% if usernameQuestion %}
						  	<p>Question éditée par: {{ usernameQuestion }}</p>
						  	{% endif %}
						</form>
					</section>
				</div>
			</section>
        </div>
      </div>
    </section>
{% endblock %}

{% block script %}
<script>
	    	$("document").ready(function(){
		    	removeInputrep();
		    	displayInputRep();
		    	addInputrep();
	    	});


	    	/**
	    	* Gestion de l'affichage des champs "réponse"
	    	**/
	    	function displayInputRep(){
	    	$("#sort-type").change(function(event){
	    	        // alert("Click event on Select has occurred!");
	    	        $("option:selected", $(this)).each(function(){
	    	            var obj = $('#sort-type').val();

	    	            if(obj === "checkbox"){
	            			$("#input-libre").addClass("hide");
    	             		$("#input-radio").addClass("hide");
    	             		$("#input-check").removeClass("hide");
	    	            }
	    	            else if(obj === "radio"){
	    	           		$("#input-libre").addClass("hide");
	    	             	$("#input-check").addClass("hide");
	    	             	$("#input-radio").removeClass("hide");
	    	            }
	    	            else if(obj === "text"){
    	            		$("#input-check").addClass("hide");
    	             		$("#input-radio").addClass("hide");
    	             		$("#input-libre").removeClass("hide");
	    	            }
	    	            else{
	    	             	$("#input-check").addClass("hide");
	    	             	$("#input-radio").addClass("hide");
	    	             	$("#input-libre").addClass("hide");
	    	            }
	    	        });
	    	   });
	    	}

	    	/**
	    	* Gestion de l'ajout des champs "réponse"
	    	**/
	    	function addInputrep(){
		    	$("#add-single-rep").click(function(){

		    	var nbInput = 0;
		    	nbInput = $(".input-single").length;

		    	var singleInput = '';
		    	singleInput = '<div class="row collapse input-single">'
		    	+'<div class="small-1 columns">'
		    		+'<span class="prefix radius">'
		    		+'<a class="remove-input" href="#">'
		    			+'<i class="foundicon-remove red"></i>'
		    		+'</a>'
		    		+'</span>'
		    	+'</div>'
		    	+'<div class="small-9 columns">'
		    		+'<input type="text" placeholder="Réponse possible" name="reponse[radio]">'
		    	+'</div>'
		    	+'<div class="small-2 columns">'
		    		+'<span class="postfix radius gris-clair">'
		    			+'<input name="radio[rep]" type="radio" value="'+nbInput+'">'
		    		+'</span>'
		    	+'</div>'
		    	+'</div>';


		    	$(singleInput).insertBefore(this);
		    	removeInputrep();
	    	});

	    	$("#add-multi-rep").click(function(){
		    	var nbInput = 0;
		    	nbInput = $(".input-multi").length;

		    	var multiInput = '<div class="row collapse input-multi">'
		    		+'<div class="small-1 columns">'
		    			+'<span class="prefix radius">'
		    				+'<a class="remove-input" href="#">'
		    					+'<i class="foundicon-remove red"></i>'
		    				+'</a>'
		    			+'</span>'
		    		+'</div>'
		    		+'<div class="small-9 columns">'
		    			+'<input type="text" placeholder="Réponse possible" name="reponse[checkbox]">'
		    		+'</div>'
		    		+'<div class="small-2 columns">'
		    			+'<span class="postfix radius gris-clair">'
		    				+'<input name="checkbox[rep]" value="'+nbInput+'" type="checkbox">'
		    			+'</span>'
		    		+'</div>'
		    	+'</div>';

		    	$(multiInput).insertBefore(this);
		    	removeInputrep();
		    	});
	    	}

	    	function removeInputrep(){
		    	$(".remove-input").off(".remove");
		    	$(".remove-input").on("click.remove", function(){
		    	$(this).parent().parent().parent().remove();
		    	});
	    	}
</script>
{% endblock %}