{% extends '../layout.html' %}
{% block content %}
    <section class="main-section">
      <div class="row">
        <div class="small-12 columns">	<!-- body -->
        	<section id="section-main" class="container container-marge">
				
        		<div class="small-10 small-centered columns"> 
					<h1 class="text-center ">{{ pageTitle }}</h1>
						<form role="form" method="post" action="">
						{% if status %}
							<div class="row">
								<div class="small-12 columns">
									<div data-alert class="alert-box success radius">
										{{ status }}
										<a href="#" class="close">&times;</a>
									</div>
								</div>
							</div>
						{% endif %}
						{% if session %}
							<div class="row">
								<a class="button tiny" href="/list/session">retour</a>
							    <div class="small-12  columns no-padding panel panel-form">
						      		<div class="small-6 columns">
							        	<input type="text" placeholder="Label de la session" name="label" value="{{session.name}}">
							    	</div>
							    	<div class="small-6 columns">
							    		<input type="submit" class="btn-right button small" value="Modifier">
							    	</div>
							    </div>
						{% else %}
							<div class="row">
								<a class="button tiny" href="/list/session">retour</a>
							    <div class="small-12  columns no-padding panel panel-form">
						      		<div class="small-6 columns">
							        	<input id="input-label" type="text" placeholder="Label de la session" name="label">
							    	</div>
							    	<div class="small-6 columns">
							    		<input id="btn-addSession" type="submit" class="btn-right button small" value="Ajouter">
							    	</div>
							    </div>
					    {% endif %}
							   	<div class="small-12  columns no-padding panel panel-form">
  						
						      		<table class="table-liste">
									  <thead>
									    <tr>
									      <th width="700">Question</th>
									      <th width="50">Ajout</th>
									    </tr>
									  </thead>
									  <tbody id="sortable" class="ui-sortable">
									  	{% for question in questions -%}


									    <tr class="item-session">
								      		<td>{{ question.text }}</td>
								      		<td class="text-center">
										      	<input type="checkbox" name="questions" 
										       	{% if session && (question._id in session.questions) %}checked="checked"{% endif %}
										       	value="{{ question._id }}"/>
								       		</td>
									    </tr>


										{%- endfor %}
									  </tbody>
									</table>


							<!--
								<ul id="sortable" class="ui-sortable liste-question">
									<div class="small-12">
										<div class="small-10">Question</div>
										<div class="small-2">Ajout</div>
									</div>
									{% for question in questions -%}

										<li class="small-12">
											<div class="small-10">{{ question.text }}</div>
											<div class="small-2"><input type="checkbox" name="questions" 
										       	{% if session && (question._id in session.questions) %}checked="checked"{% endif %}
										       	value="{{ question._id }}"/></div>
										</li>
									{%- endfor %}
								</ul>
								
							-->

									<!-- popup -->
									<div id="msg-alert" data-alert class="alert-box hide warning">
									</div>



									<div class="row">
										<div class="small-12 columns">
											<ul class="button-group right">
												<li>
													<a href="/list/question" class="button small">Gestion des questions</a>
												</li>
												<li>
													<a href="/add/question" class="button small">Ajouter une question</a>
												</li>
											</ul>
										</div>
									</div>
						    	</div>
						  	</div>
						</form>
					</section>
				</div>
			</section>
        </div>
      </div>
    </section>
{% endblock %}


{% block script %}
 	<script src="/js/vendor/jquery-ui.js"></script>
	<script src="/js/vendor/jquery.ui.touch-punch.min.js"></script>

	<script>
		

		/**
		* Gestion des Verifications pour ajout/edition session
		**/
		$("document").ready(function(){

		

			$("#btn-addSession").click(function(){
				$("#msg-alert").html("");
				var error = [];

				
				if($("#input-label").val() == ""){
					error.push("Veuillez entrer un label");
				}
				if(!($("input:checkbox").is(':checked'))){
					error.push("Veuillez cocher au moins une case");
				}

				if(error.length != 0){
					$("#msg-alert").removeClass("hide");
					for (var i=0; i < error.length; i++) {
						$("#msg-alert").append("<p>"+error[i]+"</p>");
					}

					return false;	
				}
				else{
					$("#msg-alert").addClass("hide");
					return true;	
				}
			})
		});




		$('#sortable').sortable();
	</script>

{% endblock %}
