{% extends '../layout.html' %}

{% block content %}
			<li><a href="/list/question">Liste des questions</a></li>
	        <li><a href="/list/session">Liste des sessions</a></li>
	        <li><a href="/disconnect">Se déconnecter</a></li>
	  	</ul>
	</aside>
    <section class="main-section">
	      <div class="row">
	        <div class="small-12 columns">	<!-- body -->
	        	<section id="section-main" class="container container-marge">
					
	        		<div class="small-10 small-centered columns"> 
						<h1 class="text-center ">{{ pageTitle }}</h1>
							<form role="form">
								<div class="row">
									<a class="button tiny" href="/list/question">retour</a>
								    <div class="small-12  columns no-padding panel panel-form">
							      		<div class="small-6  columns">
								        	<label>Question
								        		<select>
								        			<option></option>
								        		</select>
								        	</label>
								    	</div>
								    </div>
								   
								   	<div class="small-12  columns no-padding panel panel-form">
								   		<div class="right small-4 right">
								   			<span class="bold">nombre de participants : <a class="nb-participant bleu">10</a></span>
								   		</div>
								   		<div>
								   			<canvas id="myChart" width="400" height="340"></canvas>
								   		</div>
							    	</div>
							  	</div>
							</form>
						</section>
					</div>
				</section>
	        </div>
    	</div>
   </section>
{% endblock %}

{% block script %}
	<script src="/js/Chart.js"></script>
	<script>
		//Get the context of the canvas element we want to select
		var data = [
			{
				value: 30,
				color:"#F38630"
			},
			{
				value : 50,
				color : "#E0E4CC"
			},
			{
				value : 100,
				color : "#69D2E7"
			}			
		]
		var ctx = document.getElementById("myChart").getContext("2d");
		var myNewChart = new Chart(ctx).Pie(data);
	</script>
{% endblock %}