{% extends '../layout.html' %}
{% block content %}
			<li><a href="/list/question">Liste des questions</a></li>
	        <li><a href="/list/session">Liste des sessions</a></li>
	        <li><a href="/disconnect">Se déconnecter</a></li>
	  	</ul>
	</aside>
    <section class="main-section">
      <div class="row">
        <div class="small-12 columns">	<!-- body -->
        	<section id="section-main" class="container container-marge">
				
        		<div class="small-10 small-centered columns text-center"> 
        			
					
					<h2>Session Nom  session</h2>
					<div class="logo-atpa"><img src="/img/ATPA.png"></div>
					<div>
						<a class="button large" href="#">Lancer</a>
						<p>Nombre d'étudiants connectés: 20</p>
					</div>
				</div>
			</section>
        </div>
      </div>
    </section>
{% endblock %}

{% block script %}
<script>
	$(document).foundation();
</script>

{% endblock %}