{% extends '../layout.html' %}
{% block content %}
    <section class="main-section">
      <div class="row">
        <div class="small-12 columns">	<!-- body -->
        	<section id="section-main" class="container container-marge">
				
        		<div id="container" class="small-10 small-centered columns text-center"> 
        			
					{% if session %}
					<h2>{{ session.name }}</h2>
					<h2>Clé : <span id="key">{{ session.key }}</span></h2>
					<div class="logo-atpa"><img src="/img/ATPA.png"></div>
					<div>
						<button class="large" type="button" id="go">Lancer</button>
						<p>Nombre d'étudiants connectés: <span id="nbCo"></span></p>
					</div>
					{% elseif question %}
					<h2>{{ question.text }}</h2>
					<input type="hidden" id="teacher" value="{{teacher}}" />
					<input type="hidden" id="question" value="{{question._id}}">
					<div class="logo-atpa"><img src="/img/ATPA.png"></div>
					<div>
						<button class="large" type="button" id="go">Lancer</button>
						<p>Nombre d'étudiants connectés: <span id="nbCo"></span></p>
					</div>
					{% endif %}
				</div>
			</section>
        </div>
      </div>
    </section>
{% endblock %}

{% block script %}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/timer.js"></script>
<script src="/js/Chart.js"></script>
<script>
	$(document).foundation();
</script>
{% if session %}
<script src="/js/socket-teacher-session.js"></script>
{% elseif question %}
<script src="/js/socket-teacher-question.js"></script>
{% endif %}

{% endblock %}