{% extends '../layout.html' %}
{% block content %}
    <section class="main-section">
      <div class="row">
        <div class="small-12 columns">	<!-- body -->
        	<section id="section-main" class="container container-marge">
				
        		<div class="small-10 small-centered columns text-center"> 
					<img src="/img/ATPA.png" alt="ATPA">
					<div id="loading-box">
						<img id="img-loading" src="/img/ajax-loader.gif" >
						<p id="msg-loading">En attente d'une session</p>
						<input type="hidden" name="username" value="{{student}}" id="username">
					</div>
				</div>
			</section>
        </div>
      </div>
    </section>
{% endblock %}

{% block script %}
	<script src="/socket.io/socket.io.js"></script>
	<script>

		var socket = io.connect('http://localhost');

	</script>
{% endblock %}