<div class="small-10 small-centered columns"> 
	<form role="form">
		<div class="row">
		    <div class="small-12  columns no-padding">
		      <h3>{{question.text}}</h3>
		    </div>
		   
	  	</div>

      	<div class="row panel panel-form">
	    	<div class="small-12 columns">
    		{% for answer in question.answers -%}
				<div class="row">					      			
		      		<label>
		      			{{answer.name}}
			    		<input class="check-reponse" type="{{question.type}}"  name="rep" data-correct="{{answser.correct}}" value="{{loop.index0}}" >
			    	</label>
		    	</div>
    		{%- endfor %}
    		<input type="hidden" id="value-timer" value="{{question.timer}}">
	    	</div>
      	</div>
      	
	  	<div class="row">
	  		<button type="button" id="submit-answer" class="small btn-envoi">Répondre</button>
	  	</div>
	</form>
</div>
<script src="/js/timer.js"></script>