<!DOCTYPE html>
<html>
<head>
	<title>Ajout question</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/foundation.css">
	<link rel="stylesheet" href="css/general_enclosed_foundicons.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="js/vendor/modernizr.js"></script>	
</head>
<body>
	

	
<div class="off-canvas-wrap docs-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon"><span></span></a>
      </section>

      <section class="right tab-bar-section">
        <h1 class="title">ATPA</h1>
      </section>

    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label class="label-small">Nom Prénom<br/>(type personne)</label></li>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">se déconnecter</a></li>
      </ul>
    </aside>

    <section class="main-section">
      <div class="row">
        <div class="small-12 columns">	<!-- body -->
        	<section id="section-main" class="container container-marge">
				
        		<div class="small-10 small-centered columns"> 
					<h1 class="text-center ">Questionnaire</h1>
						<form role="form">
							<div class="row">
							    <div class="small-12  columns no-padding">
							      <h3>Ceci est un question ?</h3>
							      <div id="timer">
							      	<span>3:56</span>
							      </div>
							    </div>
							   
						  	</div>

					      	<div class="row panel panel-form">
					      	<!--
					      		<div class="small-12 columns">
									<div class="row">					      			
						      		<label>1 ère réponse
							    	<input class="check-reponse" type="radio"  name="rep1" value="rep1"></label>
							    	</div>
									<div class="row">
							    	<label>2 eme réponse
							    	<input class="check-reponse" type="radio"  name="rep2" value="rep2"></label>
							    	</div>
									
						    	</div>
						    	-->
						    	<div class="small-12 columns">
									<div class="row">					      			
						      		<label>1 ère réponse
							    	<input class="check-reponse" type="radio"  name="rep" value="rep1"></label>
							    	</div>
									<div class="row">
							    	<label>2 eme réponse
							    	<input class="check-reponse" type="radio"  name="rep" value="rep2"></label>
							    	</div>
							    	<div class="row">
									<label>3 eme réponse
							    	<input class="check-reponse" type="radio"  name="rep" value="rep2"></label>
							    	</div>
							    	<div class="row">
							    	<label>4 eme réponse
							    	<input class="check-reponse" type="radio"  name="rep" value="rep2"></label>
							    	</div>
						    	</div>
					      	</div>
					      	
						  	<div class="row">
						    	<input type="submit" class="button small btn-envoi" value="Valider">			   	
						  	</div>

						
						</form>
					</section>
				</div>
			</section>
        </div>
      </div>
    </section>

<a class="exit-off-canvas"></a>

  </div>
</div>
</body>

<script src="js/vendor/jquery.js"></script>
<script src="js/foundation.min.js"></script>
<script src="js/foundation/foundation.topbar.js"></script>
<script src="js/script.js"></script>
<script>
	$(document).foundation();
</script>
</html>