{% extends '../layout.html' %}
{% block content %}
	        <li><a href="/disconnect">Se déconnecter</a></li>
	  	</ul>
	</aside>
    <section class="main-section">
      <div class="row">
        <div class="small-12 columns">	<!-- body -->
        	<section id="section-main" class="container container-marge">
				
        		<div class="small-10 small-centered columns text-center"> 
					<img src="/img/ATPA.png" alt="ATPA">
					<div id="loading-box">
						<img id="img-loading" src="/img/ajax-loader.gif" >
						<p id="msg-loading">en attente d'une session</p>
					</div>
				</div>
			</section>
        </div>
      </div>
    </section>
    
{% endblock %}

	

{% block script %}
	<script type="text/javascript">
		$("document").ready(function(){


		});
	</script>
{% endblock %}